<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RESBAR</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/googlefonts.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="page-top">
    <div id="wrapper">

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <!-- Inicia el contenedor de la pagina (Codigo nuevo aquí)-->
                <div class="container-fluid" id="appRESBAR">

                    <!-- TITULO -->
                    <div class="row my-4">
                        <h1 class="text-center col-12">Modificar Orden</h1>
                    </div>


                    <!-- Inicia seccion de alertas -->
                    <div class="alert alert-success collapse" role="alert" id="buttonAlert">
                        <strong>Success!</strong> Registro eliminado correctamente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Termina seccion de alertas -->

                    <!--Solo para depuracion y desarrollo mostramos el vue.Data-->

                    <!--Despues borramos esto-
                    <br>
                    <h5>Solo para mostrar vue.Data mientras se desarrolla</h5>
                    -->

                    <!--modificar orden -->
                    <div class="" id="mdlModificarOrden" tabindex="-1" role="dialog" aria-labelledby="tituloModificar" aria-hidden="true">
                        <!-- <div class="container border"> -->
                        <div class="mt-5">
                            <!-- <form class="form-inline"> -->
                            <form>
                                <div class="form-group row my-0">
                                    <label for="lblMesa" class="col-sm-2 col-lg-1 col-form-label">Mesa: </label>
                                    <div class="col-sm-3 mr-md-5 col-lg-3">
                                        <input type="text" class="form-control form-control-sm" id="lblMesa" v-model="ordenSelected.mesa">
                                    </div>
                                    <label class=" col-sm col-lg ml-md-5 d-none d-lg-block ">Id Orden: {{ordenSelected.id.substring(20)}} </label>
                                </div>
                                <div class="form-group row my-0 ">
                                    <div class="col-md-2 col-sm-2 col-lg-1 ">
                                        <label for="iptCliente " class="col-form-label ">Cliente: </label>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-lg-5 ">
                                        <input type="text " class="form-control form-control-sm " id="iptCliente " v-model="ordenSelected.cliente ">
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-lg-6 "></div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-md-2 col-sm-2 col-lg-1 ">
                                        <label for="lblMesero " class="col-form-label ">Mesero: </label>
                                    </div>
                                    <div class="col-md-6 col-sm-4 col-lg-5 ">
                                        <input type="text " class="form-control form-control-sm " id="lblMesero " v-model="ordenSelected.mesero">
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-lg-2 "></div>
                                    <div class="col-md-3 col-sm-5 col-lg-4 d-flex justify-content-end mt-2">
                                        <button type="button" class="btn btn-danger ml-auto d-md-none d-lg-none d-xl-none" id="btnEliminarOrdenIcon" onClick="$('#mdlEliminarOrden').modal('show')"><i class="far fa-trash-alt"></i></button>
                                        <button type="button" class="btn btn-danger ml-auto d-none d-md-inline-block" id="btnEliminarOrden " onClick="$('#mdlEliminarOrden').modal('show')">Eliminar Orden</button>
                                    </div>
                                </div>
                            </form>
                            <!-- </form> -->
                            <!-- tabla de datos modal body -->
                            <div class="table-responsive ">
                                <table class="table table-sm table-bordered mt-2 table-striped ">
                                    <thead class="bg-primary text-white text-center ">
                                        <tr>
                                            <th scope="col ">Nombre</th>
                                            <th scope="col ">Precio Unitario</th>
                                            <th scope="col ">Cantidad</th>
                                            <th class="d-none d-xl-table-cell " scope="col ">Sub Total</th>
                                            <th scope="col ">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(detalleOrdenAux, index) in ordenSelected.detalleOrden">
                                            <th class="small">{{detalleOrdenAux.nombre}}</th>
                                            <td>$ {{detalleOrdenAux.precio}}</td>
                                            <td class="text-center px-0 "><button type="button " class="btn btn-secondary btn-sm" @click="(detalleOrdenAux.cantidad >=1) ? detalleOrdenAux.cantidad-- : 0 ; sumarORestarProducto();">-</button>{{detalleOrdenAux.cantidad}}
                                                <button type="button" class="btn btn-secondary btn-sm" @click="detalleOrdenAux.cantidad++; sumarORestarProducto();">+</button>
                                            </td>
                                            <td class=" d-none d-xl-table-cell ">$ {{(detalleOrdenAux.precio*detalleOrdenAux.cantidad).toFixed(2)}}</td>
                                            <td class="text-center ">
                                                <button type="button " class="btn btn-danger ml-auto d-md-none d-lg-none d-xl-none " id="btnEliminarOrden" @click="eliminarProducto(index);"><i class="far fa-trash-alt "></i></button>
                                                <button type="button " class="btn btn-danger btn-sm d-none d-md-inline-block " @click="eliminarProducto(index);">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="taObservaciones">Observaciones</label>
                            <textarea class="form-control" id="taObservaciones" rows="1" v-model="ordenSelected.observacion"></textarea>
                        </div>
                        <!-- </div> -->
                        <div class="modal-footer">
                            <div class="container"><label class="text-dark h4"><strong>Total: ${{(ordenSelected.total*1).toFixed(2)}}</strong></label></div>
                            <button type="button " class="btn btn-secondary " onClick="$( '#mdlModificarOrden').modal( 'hide') " @click="redireccionarAOrdenes();">Cancelar</button>
                            <button type="button " class="btn btn-primary" @click="modificarOrden();">Guardar</button>
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>

                    <!-- Termina modificar orden -->
                    <!-- <div>{{ordenSelected.detalleOrden}}</div> -->
                    <!-- modal de confirmacion eliminar orden -->
                    <div class="modal fade " id="mdlEliminarOrden" tabindex="-1 " role="dialog " aria-labelledby="tituloEliminar " aria-hidden="true ">
                        <div class="modal-dialog " role="document ">
                            <div class="modal-content ">
                                <div class="modal-header ">
                                    <h5 class="modal-title " id="tituloEliminar ">Eliminar orden # {{ordenSelected.id.substring(20)}}</h5>
                                    <button type="button " class="close " data-dismiss="modal" aria-label="Close ">
                                     <span aria-hidden="true ">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body ">
                                    ¿Desea eliminar la orden con codigo {{ordenSelected.id.substring(20)}} ?
                                </div>
                                <div class="modal-footer ">
                                    <button type="button " class="btn btn-secondary " data-dismiss="modal">Cancelar</button>
                                    <button type="button " class="btn btn-danger " data-dismiss="modal" onClick="$( '#mdlModificarOrden').modal( 'hide'); " @click="eliminarOrden()">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fin modal eliminar  -->

                </div>
                <!-- Termina el contenedor de la pagina y el dominio de VUE-->

            </div>



        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/vue.js "></script>
    <script src="assets/js/axios.min.js "></script>
    <!--se ha cargado vue-router para la lectura del parametro, si usas javascript puro en su lugar, quita esta libreria-->
    <script src="assets/js/vue-router.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Script.js"></script>
    <!--Aqui va tu codigo de vue js-->
    <script src="./config.js"></script>
    <script src="./modificarorden.js"></script>



</body>

</html>